*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.container{
    height: 100vh;
    width: 100%;
    background: linear-gradient(45deg, #d2001a, #7462ff,#f48e21,#23d5ab);
background-size: 300% 300% ;
animation: color 12s ease-in-out infinite;
margin: auto;
  padding: 10px;
}
@keyframes color{
    0%{
        background-position: 0 50%;
    }
    50%{
        background-position: 100% 50%;
    }
    100%{
        background-position: 0 50%;
    }
}
@font-face {
    font-family: myFont;
    src: url(font.ttf.otf);
}
h1{
    font-family: myFont;
}
#login_button
{
	width: 5%;border-radius: 300px;
   
}
#user_name{
    width: 10%;border-radius: 300px;
}